body {
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.container {
  width: 320px;
  margin: 100px auto;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}